@font-face {
  font-family: "CMU-Serif";
  src: url("/assets/fonts/cmu-serif/cmunrm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "CMU-Serif";
  src: url("/assets/fonts/cmu-serif/cmunbx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
